.chat-rooms {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.chat-rooms input[type="text"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-room-toggle {
  position: relative;
}

.create-room-toggle button {
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 24px;
  position: absolute;
  right: -61px;
  top: 0;
}

.create-room {
  position: absolute;
  right: -370px;
  top: 0;
  width: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.create-room-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.create-room-form input {
  margin-bottom: 10px;
}

.create-room-form button {
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  padding: 10px 20px;
}

.create-room-form button:hover {
  background-color: #45a049;
}

.chat-rooms button {
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  padding: 8px 10px;
}

.chat-rooms .create-room-btn {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  position: sticky;
}

.chat-rooms button:hover {
  background-color: #45a049;
}

.room-results,
.user-rooms {
  margin-top: 20px;
}

.room-item,
.user-room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
}

.room-item p,
.user-room-item a {
  margin: 0;
}

.room-item button,
.user-room-item button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  width: auto;
}

.room-item button:hover,
.user-room-item button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-top: 10px;
}

.back-button {
  display: block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #4CAF50;
}
