.chat-rooms {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
}

.back-button {
  display: flex;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

h2 {
  margin-top: 0;
  font-size: 24px;
}

.chat-room-link {
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.chat-room-link:hover {
  background: #e1e1e1;
}
