.chat-room {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.back-button {
  align-self: flex-start;
  background: none;
  border: none;
  font-size: 18px;
  color: #000000;
  cursor: pointer;
  margin-bottom: 20px;
  width: 40px;
  border-radius: 25px;
  text-decoration: none;
}

.back-button:hover {
  color: #ffffff;
  background-color: #4cae4c;
  text-decoration: none;
}

.header-chatrooms {
  display: flex;
  align-items: center;
}

.chat-title {
  margin: 10px 13vw 25px 13vw;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding: 8px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message.sent {
  align-items: flex-end;
}

.message p {
  background: #e4e6eb;
  padding: 10px;
  border-radius: 10px;
  margin: 0;
  max-width: 60%;
  word-wrap: break-word;
}

.message.sent p {
  background: #d4edda;
}

.message small {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

form {
  display: flex;
  align-items: center;
  background: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
}

form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s ease;
  width: 80px;
}

form button:hover {
  background-color: #4cae4c;
}

.typing-indicator {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}
